<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\..\..\static\ecopuntosapp\css\AboutUs.css">
    <link rel="stylesheet" href="../../../static/ecopuntosapp/css/navbar.css">
    <title>Sobre Nosotros</title>
</head>

<body>
    {% include 'ecopuntosapp/navbar.html' %}

    <h1 style="text-align: center;">Nuestro Equipo de Desarrollo</h1>

    <div class="container">
        <div class="developer-card">
            <img src="..\..\..\static\ecopuntosapp\images\developer1.png" alt="Imagen del desarrollador">
            <h2>Sofía Barraza</h2>
            <p><strong>Rol:</strong> Descripción del rol</p>
            <p><strong>Contacto:</strong> correo@example.com</p>
        </div>

        <div class="developer-card">
            <img src="..\..\..\static\ecopuntosapp\images\developer2.png" alt="Imagen del desarrollador">
            <h2>Alonso Jara</h2>
            <p><strong>Rol:</strong> Descripción del rol</p>
            <p><strong>Contacto:</strong> correo@example.com</p>
        </div>

        <div class="developer-card">
            <img src="..\..\..\static\ecopuntosapp\images\developer3.png" alt="Imagen del desarrollador">
            <h2>Matías Ibañez</h2>
            <p><strong>Rol:</strong> Descripción del rol</p>
            <p><strong>Contacto:</strong> correo@example.com</p>
        </div>

        <div class="developer-card">
            <img src="..\..\..\static\ecopuntosapp\images\developer4.png" alt="Imagen del desarrollador">
            <h2>Julio Peña</h2>
            <p><strong>Rol:</strong> Descripción del rol</p>
            <p><strong>Contacto:</strong> correo@example.com</p>
        </div>

        <div class="developer-card">
            <img src="..\..\..\static\ecopuntosapp\images\developer5.png" alt="Imagen del desarrollador">
            <h2>Cristobal Silva</h2>
            <p><strong>Rol:</strong> Descripción del rol</p>
            <p><strong>Contacto:</strong> correo@example.com</p>
        </div>
    </div>
</body>
</html>
