<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/ecopuntosapp/css/ecopuntos.css">
    <link rel="stylesheet" href="../../../static/ecopuntosapp/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Ecopuntos</title>
</head>
<body>
    <main class="main">
        <header class="header">
            {% include 'ecopuntosapp/navbar.html' %}
        </header>
        <div class="barrabusqueda">
            <input type="text" placeholder="Buscar...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="ultimo">
            <p id="eslogan">
                "Tu granito de <br> arena es <br> importante"
            </p>
        </div>
        <footer></footer>
    </main>
</body>
</html>
