
head {
    color:black;
    text-align: left;
    font-size: x-small;
    font-family: Helvetica;
}

body { 
    background-color: rgb(250, 250, 250);
    
}

h1 {
    color:rgb(15, 105, 15);
    text-align: center;
    font-size: 2cm;
    font-family: Verdana; 
}

h2 {
    color:rgb(95, 184, 6);
    text-align: center;
    font-size: 1cm;
    font-family: italic;

}

.boton {
    color:black;
    text-align: end;
    text-align: left;
    font-size: x-small;
    font-family: Verdana;


}

.boton2 {
    color: #000;
    text-align: end ;
    text-align: center;
    font-size: 0,1cm;
    font-family: Verdana;
}

.boton3 {
    color: #000;
    text-align: end;
    text-align: right ;
    font-size: x-small;
    font-family: Verdana;
}
