@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
}
body {
    background-color: #AFD480;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.developer-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.developer-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 3em;
}

.back-button img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: inline-block;
    padding: 10px;
}
.img img {
    width: 80px;
    height: auto;
    margin: 10px 20px;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #7F9F56;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.menu a{
    border-radius: 100px;
    display: flex;
    color: black;
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    font-size: 1.2em;
}

.menu a:hover{
    color: #e0ffb7;
}