<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/ecopuntosapp/css/FAQ.css">
    <title>FAQ Ecopuntos</title>
</head>
<body>
  <div class="header">
        <h1 class="header-title"> FAQ</h1>
        <p class="header-desc"> Frequently Ask Questions</p>
        <div class="search">
            <input type="text" placeholder="Search...">
            <button>Search </button>
        </div>
  </div>

  <div class="faq">
    <div class="faq-name">
      <h1 class="faq-header"> ¿Tienes <br> preguntas? </h1>
      <img class="faq-img" src="../../../static/ecopuntosapp/img/FAQ-persons.jpg">
    
    </div>
    <div class="faq-box">
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
          <label class="faq-title" for="faq-trigger-1"> aqui va la pregunta 1? </label>
          <div class="faq-detail">
            <p> aqui va la respuesta a la pregunta 1</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
          <label class="faq-title"  for="faq-trigger-2"> aqui va la pregunta 2?</label>
          <div class="faq-detail">
            <p>aqui va la respuesta 2</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
          <label  class="faq-title"  for="faq-trigger-3">aqui va la pregunta 3?</label>
          <div class="faq-detail">
            <p>aqui la respuesta 3</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-4">
          <label class="faq-title" for="faq-trigger-4">aqui va la pregunta 4?</label>
          <div class="faq-detail">
            <p>aqui va la respuesta 4 </p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-5">
          <label  class="faq-title" for="faq-trigger-5"> aqui va la pregunta 5? </label>
          <div class="faq-detail">
            <p>aqui va la respuesta 5</p>
          </div>
        </div>
    </div>
  </div>
</body>
</html>