<!DOCTYPE html>
<html>
<head>
    <title>Ecopuntos🌱</title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Ecopuntos</p>
            <nav class="navegacion">
                <a href="#">FORO</a>
                <a href="#">REGISTRO/INICIAR SESION</a>
            </nav>
        </div>
    </header>
    <div class="barrabusqueda">
        <input type="text" placeholder="Buscar...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div>
        <p id="eslogan">
            "Tu granito de <br> arena es <br> importante"
        </p>
    </div>
    <footer>
        <div class="container">
            <nav>
                <a href="#">SOBRE NOSOSTROS</a>
                <a href="#">IMPACTO</a>
                <a href="#">FAQ</a>
                &copy;Ecopuntos 2024
            </nav>
        </div>
    </footer>
</body>
</html>